@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Clash Grotesk';
  src: url('./fonts/ClashGrotesk-Variable.ttf');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Urbanist";
    scroll-behavior: smooth;
}

body{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    background-color: #f1efee;
}

.flex{
    display: flex;
    justify-content: center;
    align-self: center;
}

h1{
    font-size: 4rem;
}

.full-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    padding: 2rem 0;
}

.hidden{
    opacity: 0;
    transform: translateX(-15%);
    transition: all 0.8s ease;
}
.show{
    opacity: 1;
    transform: translateX(0);
}

.animationHidden{
    opacity: 0;
    transform: translateX(-30%);
    transition: all 1s ease;
}

.animationShow{
    opacity: 1;
    transform: translateX(0);
}

a{
    text-decoration: none;
}

/* NAVBAR */
.active{
    padding: 1rem 1.5rem;
    width: 4rem;
    border-radius: 6rem;
    background-color: #358753;
    color: white;
    text-align: center;
    transition: all 0.5s ease;
}
.active:hover{
    background-color: #39995c;
    transition: 0.5s ease-in-out;
}

nav{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.sticky{
    position: fixed;
    top: 4%;
    z-index: 1000;
}

.nav-link{
    padding: 1.5rem 0.8rem;
    font-size: 1rem;
    background-color: #ffff;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5rem;
    width: 100%;
}

nav a{
    text-decoration: none;
    padding: 0 1rem;
    color: black;
    transition: all 0.4s ease;
}

.arrow{
    position: relative;
    animation: 3s down linear infinite;
    bottom: -20vh;
    mix-blend-mode: darken;
    cursor: pointer;
    width: 3rem;
}

@keyframes down{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(8px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0);
    }
}

nav i{
    opacity: 0;
}

/* HERO SECTION */

.hero-section{
    position: relative;
    overflow: hidden;
}

.hero-section::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F8F7F3;
}
.hero-section h1{
    font-weight: 400;
}

.hero-section_intro{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.hero-section_intro h1{
    color: #5D5D5D;
    font-weight: 700;
}

.hero-section_job h1:nth-child(1){
    transition-delay: 200ms;
}

.hero-section_job h1:nth-child(2){
    transition-delay: 400ms;
}

.about_intro img, .hero-section_intro img{
        transition-delay: 200ms;
}

.star{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

#star1{
    animation: star-rotate 6s linear infinite;
    mix-blend-mode: darken;
    transition-delay: 400ms;
}
#star2{
    animation: star-rotate 6s linear 1.5s infinite;
    transition-delay: 300ms;
}
#star3{
    animation: star-rotate 6s linear 3s infinite;
    transition-delay: 200ms;
}
@keyframes star-rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* ABOUT */

.about_intro{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.about_intro img{
    height: 64px;
}

.about p{
    font-size: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    width: 60%;
    transition-delay: 200ms;
}

/* SKILLS */
.skills > h2{
    font-size: 2em;
    color: #358753;
}

.skills-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 60%;
    padding-bottom: 2rem;
}

.skills-card{
    background-color: #358753;
    width: 16em;
    border-radius: 2rem;
    padding: 1.5rem;
    color: white;
    box-shadow: 2px 2px 2px gray,
                -2px -2px 2px rgb(187, 187, 187);
    
}

.skills-card i{
    font-size: 2.5em;
}

.skills-card-header{
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 0.8em;
}

.skills-card-header h2:nth-of-type(2){
    margin-left: auto;
}

.skills-card-header h2{
    font-size: 2em;
}

.skills-card_outerline{
    background-color: white;
    width: 100%;
    height: 1.4em;
    border-radius: 1em;
    display: flex;
    overflow: hidden;
}

.skills-card_innerline{
    background-color: #358753;
    width: calc(90% - 0.3em);
    height: 0.8em;
    align-self: center;
    border-radius: 1rem;
    margin-left: 0.3em;
    transition: width 1s ease;
}

.skills-card_innerline.animationHidden{
    transform: none;
}

.skills-card img, svg{
    width:2.5em;
}

.skills-card:nth-child(2){
    transition-delay: 200ms;
}

.skills-card:nth-child(3){
    transition-delay: 300ms;
}

.skills-card:nth-child(4){
    transition-delay: 400ms;
}

.skills-card:nth-child(5){
    transition-delay: 500ms;
}

/* PROJECTS */
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
}

.project-card-1{
    height: 530px;
    width: 364px;
    background-color: #358753;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: start;
    color: white;
    border-radius: 2rem;
    padding: 1.5rem;
}

.project-card-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project-card-2-cards{
    background-color: #358753;
    width: 232px;
    height: 232px;
    border-radius: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: start;
    color: white;
    overflow: hidden;
    padding: 1.5rem;
}

.project-card-2-cards:nth-child(1){
    transition-delay: 200ms;
}

.project-card-2-cards:nth-child(2){
    transition-delay: 300ms;
}

.project-card-2-cards:nth-child(3){
    transition-delay: 400ms;
}

.project-card-2-cards:nth-child(4){
    transition-delay: 500ms;
}

/* CONTACT */
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid #358753;
    border-radius: 3rem;
    margin-top: 2rem;
}

.email p{
    font-size: 1.5rem;
}

.email h2{
    cursor: pointer;
    color: #358753;
}

.email:hover{
    background-color: #358753;
    color: white;
    box-shadow: 1px 1px 3px gray;
    transition: ease-in-out 0.3s ;
}

.email h2:hover{
    color: white;
}

.socials{
    display: flex;
    gap: 1rem;
     padding: 2rem;
}

.socials i{
    font-size: 2rem;
    border-radius: 8rem;
    padding: 1rem;
    color: #358753;
    border: 2px solid #358753;
}

.socials i:hover{
    background-color: #358753;
    color: white;
    transition: ease-in-out 0.3s ;
}

.socials i:nth-child(1){
    transition-delay: 200ms;
}

.socials i:nth-child(2){
    transition-delay: 400ms;
}

.socials i:nth-child(3){
    transition-delay: 600ms;
}

.socials i:nth-child(4){
    transition-delay: 800ms;
}

/* RESPONSIVE */
@media screen and (max-width: 1066px) {
    .about p{
        width: 80%;
    }

    .skills-container{
        width: 80%;
    }

    .project-container{
        flex-direction: column;
    }

    .project-card-1{
        height: 300px;
        width: 524px;
    }
}

@media screen and (max-width: 918px) {
    nav a{
        padding: 0 0.5rem;
    }
}

@media screen and (max-width: 800px) {
    .nav-link{
        opacity: 0;
    }
    /* nav i{
        opacity: 1;
        font-size: 2rem;
        position: absolute;
        right: -35%;
        color: #000000;
        padding: 1rem;
        border-radius: 4rem;
        box-shadow: 1px 1px 5px gray;
    } */
    
    .skills-container{
        width: 90%;
    }
}

@media screen and (max-width: 710px) {
    .skills-container{
        width: 100%;
    }

    .skills-card{
        width: 12em;
    }

    .skills-card-header h2{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .hero-section_intro , .about_intro{
        flex-direction: column;
    }

    .hero-section_job h1{
        font-size: 3rem;
    }

    .about p{
        font-size: 1.5rem;
    }

    .project-card-2{
        grid-template-columns: repeat(1, 1fr);
    }

    .project-card-1{
        height: 200px;
        width: 25em;
    }

    .project-card-2-cards{
        height: 200px;
        width: 25em;
    }

}

@media screen and (max-width: 510px) { 
    .about_intro img, .hero-section_intro img{
        height: 3rem;
    }

    #star1, #star2, #star3{
        height: 2.5rem;
    }

    h1{
        font-size: 3.2rem;
    }

    .project-card-1{
        height: 200px;
        width: 22em;
    }
    .project-card-2-cards{
        height: 200px;
        width: 22em;
    }

    .skills-card{
        width: 10em;
    }

    .skills-card-header h2{
        font-size: 1.2em;
    }

    .email p{
        display: none;
    }
}

@media screen and (max-width: 444px) {
    .skills-card{
        width: 100%;
        margin: 0 1rem;
    }
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.6em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #39995c;
  outline: 1px solid #39995c;
  border-radius: 1rem;
}

@media (prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}