@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Clash Grotesk';
  src: url('./fonts/ClashGrotesk-Regular.woff2') format('woff2'),
       url('./fonts/ClashGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    font-family: "Urbanist";
    scroll-behavior: smooth;
}

.padding{
    padding: 0 24rem;
}

.flex{
    display: flex;
}

h1{
    font-size: 80px;
}

.active{
    padding: 1rem 1.5rem;
    width: 4rem;
    border-radius: 6rem;
    background-color: #358753;
    color: white;
    text-align: center;
}
.active:hover{
    background-color: #39995c;
    transition: 0.5s ease-in-out;
}

nav{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.sticky{
    position: fixed;
    top: 4%;
    z-index: 1000;
}

.nav-link{
    padding: 1.5rem 0.8rem;
    font-size: 1rem;
    background-color: #ffff;
    box-shadow: 1px 1px 5px gray;
    border-radius: 20rem;
    width: 100%;
    z-index: 1000;
}

nav a{
    text-decoration: none;
    padding: 0 1rem;
    color: black;
    transition: all 0.4s ease;
}


.arrow{
    position: relative;
    animation: 3s down linear infinite;
    bottom: -8rem;
    mix-blend-mode: darken;
    cursor: pointer;
}

@keyframes down{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(8px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0);
    }
}

.full-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-section{
    background-color: #F8F7F3;
}

.hero-section h1{
    font-weight: 400;
}

.hero-section_intro{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.hero-section_intro h1{
    color: #5D5D5D;
    font-weight: 700;
}

.star{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

#star1{
    animation: star-rotate 6s linear infinite;
    mix-blend-mode: darken;
}
#star2{
    animation: star-rotate 6s linear 1.5s infinite;
}
#star3{
    animation: star-rotate 6s linear 3s infinite;
}
@keyframes star-rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.about{
    background-color: #fcfcfc;
}

.about_intro{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.about_intro img{
    height: 64px;
}

.about p{
    font-size: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    width: 60%;
}




